<html>
<head>
      <script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
    <script src="js/signup.js" type="text/javascript"></script>
</head>
<body ng-controller="mycontrol">
    <nav id="navbar" class="navbar navbar-inverse">
    <a href="#/student" ng-click="stud()">Add Student</a>
        <a href="#/monitor" ng-click="monitorstud()">Monitor Student</a>

         <a href="#/logout" ng-click="logout()">Logout</a> <br /> <br /></nav>
         <div ui-calendar ng-model="eventSources"></div>

<!--<button >Logout</button>-->
</body>
</html>